 .layout{
    height: 400px;
    margin-top: 50px;
  }
  .head {
      height: 10vh;
  }
  .content{
    position: absolute;
    width: 100%;
    height: calc(100% - 64px);
    margin-top: 64px;
  }
  .right{
    width: 40vw;
    background-color: rgb(244,245,245);
  }
  .tag{
    text-align: center;
    /* margin-top: 10px; */
  }
  .two_code{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }