 .layout_top{
    height: 400px;
    margin-top: 50px;
  }
  .layout{
    height:100vh
  }
  .head {
      height: 10vh;
  }
  .content{
    position: absolute;
    width: 100%;
    height: calc(100% - 64px);
    margin-top: 64px;
  }

  .tag{
    text-align: center;
  }
  .two_code{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .backgroundaboutme{
    background-image: url("https://pic.heiheiyun.top/aboutme.png") ;
    background-repeat: no-repeat; 
    background-size:cover;
    background-color:white;
    display:flex;
    justify-content:center;
    width:70%;
    height:90%;
    border-radius:10px;
    margin-top:12px;
    margin-left:29%;
   }
   .right{
     background-color: white;
     display:flex;
     align-items:center;
     height:100%;
     border-radius:10px;
     margin-top:12px;
     flex-direction:column;

   }
   @media (max-width:580px){
   .leftcontent{
    display: none;
   }
   .rightcontent{
    background-color: rgb(244,245,245);
  }
   .right{
     width: 100vw;
   }
 }
 @media (min-width:580px){
  .rightcontent{
    background-color: rgb(244,245,245);
    width: 100vw;
    margin-right: 20vw;
  }

}