.content1{
    /* display: flex;
    justify-content: center; */
    position: relative;
	width:100%;
	height:100%;
	overflow:hidden;
	background:linear-gradient(45deg,#feac5e,#c779d0,#4bc0c8);
}
.a{
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 200px;
    left: calc(50% - 25vw);
    font: 900 8vw '';
    width: 50vw;
    color: #333;
    cursor: pointer;
}
.a span{
    transition: .5s;
    transition-delay: calc(var(--i)*.1s);
}
.a:hover span{
    color: #fff;
    text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #fff,
    0 0 50px #fff,
    0 0 80px #fff;
}